{% extends 'base.html' %}
{% block title %}총학생회장단 인사 | 경북대학교 총학생회{% endblock %}

{% block contents %}
    <div id="wrapper">
        <div id="container">

                <div class="side-menu">
                    <p class="main-title">총학생회 소개</p>
                    <ul class="menu">
                        <li>
                            <a class="current" href="#">총학생회장단 인사</a>
                        </li>
                        <li>
                            <a class=" " href="depart/">총학생회 조직도</a>
                        </li>
                        <li>
                            <a class=" " href="history/">역대 총학생회</a>
                        </li>
                    </ul>
                </div>


                <div class="intro">
                    <h2 id="container_title">총학생회장단 인사</h2>
                    <span class="path">홈 > 총학생회 소개 > 총학 인사</span>
                    {% load static %}
                    <div class="content">
                        <p class="sub-title" style="text-align: center;">
                            <span style="font-size: 23px;">소통하는 HEAR<br>체감되는 HERE</span>
                        </p>
                        <p>
                            <span stlye="font-size: 20px;"><br><br><br>안녕하십니까 경북대학교 학우여러분. 제 52대 희열 총학생회 총학생회장 김나영, 부총학생회장 조영광입니다.</span>
                        </p>
                        <p>
                            <span stlye="font-size: 20px;">최근 몇 해간 본교 총학생회 선거에 출마했던 선거운동본부들은 모두 ‘학생사회 신뢰 회복’을 약속했습니다. 정말로 요즈음의 경북대 학생사회는 불신의 분위기가 짙습니다. 학우들은 학교의 변화를 약속했던 학생회들의 퇴행을 여러 번 목격해왔기 때문에, 학생사회에 대한 기대를 차차 거두었습니다. 또 총학생회가 부재한 채 한 해가 지났기에, 그의 필요를 인지하는 이들이 많이 줄었습니다.</span>
                        </p>
                        <p>
                            <span stlye="font-size: 20px;">2018년까지 학내 학생회 조직에 몸담아왔으며 올해에도 그러한 활동을 이어가고 있는 저희 또한 이에 대한 책임을 통감합니다. 그렇기에 선거의 준비부터 당선 이후 지금까지, 그를 해결할 수 있기 위한 총학생회로서의 행동을 고민하는 나날들의 연속이었습니다. 그렇게 치열하게 고민하며 그린 2019년의 총학생회를 학우들께 전하려 노력했습니다.</span>
                        </p>
                        <p>
                            <span stlye="font-size: 20px;">무너진 학생사회의 신뢰 속에서도, 기꺼이 희열의 활동에 관심을 두고 본인이 그리는 총학생회에 대한 목소리를 내주신 학우분들 덕에 올해의 총학생회는 여태 건재합니다.</span>
                        </p>
                        <p>
                            <span stlye="font-size: 20px;">희열은 두 가지를 가장 큰 목표로 삼고 있습니다.<br>첫째, 소통하는 학생회가 되겠습니다. 각자의 삶을 살아가는 학우 한 분 한 분께 의견을 청하고, 성심을 다하여 듣겠습니다.<br>둘째, 체감되는 학생회가 되겠습니다. 우리 모두의 삶에 변화가 느껴지도록 하겠습니다.</span>
                        </p>
                        <p>
                            <span stlye="font-size: 20px;">최선을 다하겠습니다. 그럼에도 우리에게 닿지 못했다고 말씀해주신다면 더욱 최선을 다하겠습니다. 관심을 가지고 계속 지켜봐주십시오. 여혹 본인이 생각하는 총학생회의 방향과 다른 길을 걷는다면 질책해주십시오.</span>
                        </p>
                        <p>
                            <span stlye="font-size: 20px;">학우 여러분들의 관심과 비판, 그리고 희열의 의지와 노력이 맞물려 2019년의 경북대학교 학생사회가 건강한 모습이 되었으면 합니다.</span>
                        </p>
                        <p>
                            <span stlye="font-size: 20px;">희열이 여러분 모두에게 선물로 기억되도록,<br>그리고 모두가 원하고 모두에게 사랑받는 희열이 되도록,<br>진심을 담아 노력하겠습니다.</span>
                        </p>
                        <p>
                            <span stlye="font-size: 20px;">여러분의 2019년을 희열로 가득 채우겠습니다.<br>감사합니다.</span></p>
                        <p class="name"><span><strong>경북대학교 제 52대 ‘희열’ 총학생회장단 올림.</strong></span></p>

                </div>

        </div>

    </div>
{% endblock %}
