{% extends 'base.html' %}
{% block title %}중앙집행위원회 | {{ category }}{% endblock %}
{% block contents %}
<div id="wrapper">
    <div id="container">
        <div class="side-menu">
            <p class="main-title">중앙집행위원회</p>
            <ul class="menu">
                <li><a class=" " href="{% url 'excution:category_all' 'board' %}">게시판</a></li>
                <li><a class=" " href="{% url 'excution:category_all' 'introduction' %}">국별 소개</a></li>
                <li><a class="inner-menu" href="/excution/introduction/cooperation/">-대외협력국</a></li>
                <li><a class="inner-menu" href="/excution/introduction/culture/">-문화기획국</a></li>
                <li><a class="inner-menu" href="/excution/introduction/welfare/">-복지체감국</a></li>
                <li><a class="inner-menu" href="/excution/introduction/finance/">-재정사무국</a></li>
                <li><a class="inner-menu" href="/excution/introduction/rights/">-학생권익국</a></li>
                <li><a class="inner-menu" href="/excution/introduction/publicity/">-홍보소통국</a></li>
                <li><a class="inner-menu" href="/excution/introduction/support/">-운영지원팀</a></li>
            </ul>
        </div>
        <div class="board-list">
            <h2 id="container_title">{{ category }}<span class="sound_only"> 목록</span></h2>
            <span class="path">홈 > 중앙집행위원회 > {{category}}</span>

            <div class="tbl_head01 tbl_wrap">
                <table>
                <caption> {{category}} 목록</caption>
                    <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">제목</th>
                            <th scope="col">글쓴이</th>
                            <th scope="col">날짜</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for post in current_page %}
                    <tr class="">
                        <td class="td_num">{{forloop.revcounter|add:page}}</td>
                        <td class="td_subject"><a href="{% url 'excution:post_detail' post.category post.id %}">{{post.title}}</a></td>
                        <td class="td_name sv_use"><span class="sv_member">{{post.author}}</span></td>
                        <td class="td_date">{{post.created|date:"m-d"}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
                {% if is_paginated %}
                <nav class="pg_wrap">
                    <span class="pg">
                        <div class="bootstrap2">
                            <div class="pagination">
                                <ul>
                                    {% for page_num in current_page.paginator.page_range %}
                                        {% ifequal page_num current_page.number %}
                                        <li><a class = "cur_page"><span class="sound_only">열린</span>{{ page_num }}<span class="sound_only">페이지</span></a></li>
                                        {% else %}
                                        <li><a href="?page={{page_num}}">{{ page_num }}<span class="sound_only">페이지</span></a></li>
                                        {% endifequal %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </span>
                </nav>
                {% endif %}



        </div>
    </div>
</div>
{% endblock %}