{% extends 'base.html' %}
{% block title %}중앙집행위원회 | {{ category }}{% endblock %}
{% block contents %}
<div id="wrapper">
    <div id="container">
        <div class="side-menu">
            <p class="main-title">중앙집행위원회</p>
            <ul class="menu">
                        <li><a class=" " href="{% url 'excution:category_all' 'introduction' %}">국별 소개</a></li>
                        <li><a class="inner-menu" href="/excution/introduction/culture/">-문화기획국</a></li>
                        <li><a class="inner-menu" href="/excution/introduction/publicity/">-홍보소통국</a></li>
                        <li><a class="inner-menu" href="/excution/introduction/welfare/">-복지체감국</a></li>
                        <li><a class="inner-menu" href="/excution/introduction/support/">-운영지원팀</a></li>
                        <li><a class="inner-menu" href="/excution/introduction/rights/">-학생권익국</a></li>
                        <li><a class="inner-menu" href="/excution/introduction/finance/">-재정사무국</a></li>
                        <li><a class="inner-menu" href="/excution/introduction/cooperation/">-대외협력국</a></li>
                        <li><a class=" " href="{% url 'excution:category_all' 'board' %}">게시판</a></li>
            </ul>
        </div>
        <div class="depart">
                <h2 id="container_title">국별 소개</h2>
                <span class="path">홈 > 중앙집행위원회 > 국별 소개</span>
                {% load static %}
                <div class="content">
                    <p><img src="{% static 'excution_main.png' %}" style="width:100%;"></p>
                </div>
            </div>





    </div>
</div>
{% endblock %}