{% extends 'base.html' %}
{% block title %}중앙운영위원회 | {{ category }}{% endblock %}
{% block contents %}
<div id="wrapper">
    <div id="container">
        <div class="side-menu">
            <p class="main-title">중앙운영위원회</p>
            <ul class="menu">
                  <li><a class=" " href="{% url 'operation:category_all' 'introduction' %}">단위별 소개</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/sangju">-상주학생위원회</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/dongari">-총동아리연합회</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/humanities">-인문대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/socialsci">-사회과학대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/naturalsci">-자연과학대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/bizadm">-경상대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/engineering">-공과대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/IT">-IT대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/agriculture">-농업생명과학대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/arts">-예술대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/teachers">-사범대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/medicine">-의과대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/dentistry">-치과대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/vet">-수의과대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/humaneco">-생활과학대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/nursing">-간호대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/pharmacy">-약학대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/ecology">-생태환경대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/technology">-과학기술대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/publicadm">-행정학부</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/undecmajor">-자율전공부</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/globalleaders">-글로벌인재학부</a></li>
                        <li><a class=" " href="{% url 'operation:category_all' 'board' %}">게시판</a></li>
            </ul>
        </div>
        <div class="board-list">
            <h2 id="container_title">{{ category }}<span class="sound_only"> 목록</span></h2>
            <span class="path">홈 > 중앙운영위원회 > {{category}}</span>

            <div class="tbl_head01 tbl_wrap">
                <table>
                <caption> {{category}} 목록</caption>
                    <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">제목</th>
                            <th scope="col">글쓴이</th>
                            <th scope="col">날짜</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                    <tr class="">
                        <td class="td_num">{{post.id}}</td>
                        <td class="td_subject"><a href="{% url 'operation:post_detail' post.category post.id %}">{{post.title}}</a></td>
                        <td class="td_name sv_use"><span class="sv_member">{{post.author}}</span></td>
                        <td class="td_date">{{post.created|date:"m-d"}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>



        </div>
    </div>
</div>
{% endblock %}