{% extends 'base.html' %}
{% block title %}중앙운영위원회 | 자연과학대학{% endblock %}
{% block contents %}
<div id="wrapper">
    <div id="container">
        <div class="side-menu">
            <p class="main-title">중앙운영위원회</p>
            <ul class="menu">
                        <li><a class=" " href="{% url 'operation:category_all' 'introduction' %}">단위별 소개</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/sangju">-상주학생위원회</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/dongari">-총동아리연합회</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/humanities">-인문대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/socialsci">-사회과학대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/naturalsci">-자연과학대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/bizadm">-경상대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/engineering">-공과대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/IT">-IT대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/agriculture">-농업생명과학대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/arts">-예술대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/teachers">-사범대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/medicine">-의과대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/dentistry">-치과대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/vet">-수의과대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/humaneco">-생활과학대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/nursing">-간호대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/pharmacy">-약학대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/ecology">-생태환경대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/technology">-과학기술대학</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/publicadm">-행정학부</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/undecmajor">-자율전공부</a></li>
                        <li><a class="inner-menu" href="/operation/introduction/globalleaders">-글로벌인재학부</a></li>
                        <li><a class=" " href="{% url 'operation:category_all' 'board' %}">게시판</a></li>
            </ul>
        </div>
        <div class="depart">
                <h2 id="container_title">자연과학대학 소개</h2>
                <span class="path">홈 > 중앙운영위원회 > 자연과학대학 소개</span>
                {% load static %}
                <div class="content">
                    <p class="sub-title" style="text-align: center;">
                        <span style="font-size: 23px;">제목</span>
                    </p>
                    <p>
                        <span stlye="font-size: 20px;">내용</span>
                    </p>



            </div>
            </div>
</div>
{% endblock %}